<ion-modal-view>
    <ion-header-bar align-title="center">
      <ion-title>
        <img src="img/assets/jc-logo.png" class="help-logo"/>
      </ion-title>
      <div class="buttons">
        <button class="button button-light button-clear icon ion-close-circled" ng-click="closeHelp()"/>
      </div>
    </ion-header-bar>
    <ion-content class="help-content">
      <div class="row">
        <div class="col col-100">
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <ion-list class="list-inset">
            <ion-item class="item-text-wrap">
              <i class="icon ion-search"></i>
              Use the tab icons to switch between image categories.
            </ion-item>
            <ion-item class="item-text-wrap">
                <i class="icon ion-checkmark-round"></i>
              Tap the image you want.
            </ion-item>
            <ion-item class="item-text-wrap">
              <i class="icon ion-share"></i>
              Choose an app and share!
            </ion-item>
            <ion-item class="item-text-wrap">
              <i class="icon ion-heart"></i>
              Tap the Heart icon to donate and get Jeremy re-elected!
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar align-title="center">
      <ion-title>
        <img src="img/assets/peoplepowered.png" style="height: 100%;" height="100%"/>
      </ion-title>
    </ion-footer-bar>
</ion-modal-view>
