<ion-modal-view>
    <ion-header-bar align-title="center">
      <ion-title>
        <img src="img/assets/jc-logo.png" class="help-logo"/>
      </ion-title>
      <div class="buttons">
        <button class="button button-light button-clear icon ion-close-circled" ng-click="closeShare()"/>
      </div>
    </ion-header-bar>
    <ion-content class="share-content padding" scroll="false">
            <ion-slides options="sliderOptions" slider="data.slider">
              <ion-slide-page>
                <img class="emoji emoji-sharing" ng-if="shareObj.emoji" ng-src="{{getPath(shareObj.emoji)}}"/>


              </ion-slide-page>
              <ion-slide-page ng-if="shareObj.description !== ''">
                {{shareObj.description}}
              </ion-slide-page>
            </ion-slides>
            <div class="padding">
              <label class="item item-input">
                <input type="text" ng-model="shareObj.text"/>
              </label>
              <button class="button button-block share-button" ng-click="share(shareObj)">Share</button>
            </div>


    </ion-content>
    <ion-footer-bar align-title="center">
      <ion-title>
        <img src="img/assets/peoplepowered.png" style="height: 100%;" height="100%"/>
      </ion-title>
    </ion-footer-bar>
</ion-modal-view>
