<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-light button-clear icon ion-heart" ng-click="donateClicked()"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <img src="img/assets/peoplepowered.png" style="height: 100%;" height="100%"  ng-if="platform != 'android'"/>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-light button-clear icon ion-help-circled" ng-click="help()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row emoji-row" ng-repeat="e in emoji" ng-if="$index % 4 == 0">
      <div class="col col-25" ng-if="$index < emoji.length" on-tap="startShare(emoji[$index])" on-hold="copy(emoji[$index])">
        <div class="emoji-container">
          <img class="emoji" ng-src="{{getPath(emoji[$index])}}"/>
        </div>
      </div>
      <div class="col col-25" ng-if="$index + 1 < emoji.length" on-tap="startShare(emoji[$index + 1])" on-hold="copy(emoji[$index + 1])">
        <div class="emoji-container">
          <img class="emoji" ng-src="{{getPath(emoji[$index + 1])}}"/>
        </div>
      </div>
      <div class="col col-25" ng-if="$index + 2 < emoji.length" on-tap="startShare(emoji[$index + 2])" on-hold="copy(emoji[$index] + 2)">
        <div class="emoji-container">
          <img class="emoji" ng-src="{{getPath(emoji[$index + 2])}}"/>
        </div>
      </div>
      <div class="col col-25" ng-if="$index + 3 < emoji.length" on-tap="startShare(emoji[$index + 3])" on-hold="copy(emoji[$index] + 3)">
        <div class="emoji-container">
          <img class="emoji" ng-src="{{getPath(emoji[$index + 3])}}"/>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" ng-if="platform == 'android'">
    <ion-title>
      <img src="img/assets/peoplepowered.png" style="height: 100%;" height="100%"/>
    </ion-title>
  </ion-footer-bar>
</ion-view>
