<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class=“tabs-striped tabs-color-active-positive tabs-icon-only">

  <!-- RSS Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/rss">
    <ion-nav-view name="tab-rss"></ion-nav-view>
  </ion-tab>

  <!-- RSS Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/rss">
    <ion-nav-view name="tab-rss"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Jeremy" icon-off="ion-happy-outline" icon-on="ion-happy-outline" href="#/tab/jeremy">
    <ion-nav-view name="tab-jeremy"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Red Jeremy" icon-off="smile-square" icon-on="smile-square" href="#/tab/red-jeremy">
    <ion-nav-view name="tab-red-jeremy"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Stickers" icon-off="sticker" icon-on="sticker" href="#/tab/stickers">
    <ion-nav-view name="tab-stickers"></ion-nav-view>
  </ion-tab>

</ion-tabs>
