/* Empty. Add your own CSS if you like */
.tab-nav, .bar-footer, .bar-header, .help-content{
  background-color: #EC1D27 ! important;
}

.title, .help-content{
  color: #fff ! important;
}

.share-content{
  text-align: justify;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.share-button{
  background-color: #EC1D27;
  color: #fff;
}

.help-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.tabs .tab-item .icon{
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-size: contain;
}

.icon.jeremy{
  background-image: url('../img/assets/tabs/face-transparent.png');
}

.icon.red_jeremy{
  background-image: url('../img/assets/tabs/red-menu.png');
}

.icon.sticker{
  background-image: url('../img/assets/tabs/sticker-menu.png');
}

.emoji{
  display: block;
  width: 100%;
  height: 100%;
}

.emoji-sharing{
  margin-left: auto;
  margin-right: auto;
}

.emoji-container{
  padding: 0;
  margin: 0;
width: 100%;
height: 100%;
background-size: 100% 100%;
/*-webkit-filter: drop-shadow(-4px 4px 2px rgba(0,0,0,0.25));
-moz-filter: drop-shadow(-4px 4px 2px rgba(0,0,0,0.25));
-ms-filter: drop-shadow(-4px 4px 2px rgba(0,0,0,0.25));
-o-filter: drop-shadow(-4px 4px 2px rgba(0,0,0,0.25));*/
}
